@model List<Album>

@{
    ViewData["Title"] = "Albums";
    int totalAlbums = Model?.Count ?? 0;
    int albumCounter = 1;
    int rowSize = 3;
}

@if (totalAlbums > 0)
{
    <form method="get" asp-controller="Images" asp-action="PhotoGrid" id="searchForm">
        <div class="input-group mb-3">
            <input type="text" id="searchValue" name="searchValue" class="form-control" placeholder="Search Photos" aria-label="Search Photos" aria-describedby="basic-addon2" pattern="[A-Za-z0-9]+" required title="Only letters and numbers allowed">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    foreach (Album album in Model) {

        if (albumCounter == 1 || albumCounter % (rowSize+1) == 0)
        {
            @:<div class="row pt-5"> <!-- Open new row based on rowsize -->
        }
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <div class="card">
                    @if (album.photos?.Count > 0) {
                        <img src="@album.photos[0].url" class="w-100 card-img-top shadow-1-strong rounded mb-4" alt="@album.photos[0].title" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">Album - @album.albumId</h5>
                        <a class="btn btn-primary" asp-area="" asp-controller="Images" asp-action="PhotoGrid" asp-route-albumId="@album.albumId">View in Grid</a>
                        <a class="btn btn-secondary" asp-area="" asp-controller="Images" asp-action="PhotoSlide" asp-route-albumId="@album.albumId">View in Slides</a>
                    </div>
                </div>
            </div>
        @if (albumCounter % rowSize == 0 || albumCounter == totalAlbums) {
            @:</div> <!-- Close the row properly based on rowsize -->
            albumCounter = 1;
        } else {
            albumCounter += 1;
        }
    }
}
else {
    <p>No albums found.</p>
}
